/*ナビゲーション*/
#archive-nav{
	/*position: relative;
	overflow: hidden;
	top: 10px;*/
	text-align: center;
	-webkit-overflow-scrolling: touch;
	/*border: 1px solid rgba(51, 51, 51, 0.1);*/
	margin: 0px 3px;
	margin-bottom: 5em;
	/*padding-top: 10px;*/
	/*background-color: #ffe9d3;*/
}
#archive-nav ul {/*
    padding: 5px;
		margin-top: 0px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
		/*****************//*
	  display: block;
    list-style-type: disc;
		font-size: 0;*/
}
#archive-nav li {
	float: left;
	background: #ffffff;
	margin: 1px;
	padding: 5px 0px;
	font-size: 1.5em;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 0.4);
	text-align: center;
	color: #888;
	border:1px solid #ccc;
	border-width: 1px 1px;
	box-sizing:border-box;
	text-decoration: none;
}
#archive-nav li:hover {
	background: #eee;
}
#header-nav ul::-webkit-scrollbar {
  /*all:unset;*/
  width: 90%;
	height: 5px;
  background: transparent;
}
#header-nav ul::-webkit-scrollbar-track {
  all:unset;
  border-radius: 8px;
  background: transparent;
}
#header-nav ul::-webkit-scrollbar-thumb {
  all:unset;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 15px;
  background: transparent;
}
#header-nav ul::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background: transparent;
	background-color: #333;
}

/*商品ぺージ*/
.archive_grid_center{
	position: relative;
	padding: 0px;
  margin: 0 auto;   /*全体の中央寄せ*/
	z-index: 1;
}

/*.archive_grid{
	width: 100%;
}*/

.archive_grid{
	display:inline-block;
	position: relative;
	width: 300px;
	border-radius: 4px;
	margin: 10px;
	margin-bottom: 20px;
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 
		0px 1px 4px rgba(0, 0, 0, 0.8),
		0px 0px 5px rgba(172, 172, 172, 0.2) inset;
}
.archive_grid::before, .archive_grid::after {
	position: absolute;
  z-index: -2;
  content: "";
  bottom: 10px;
  left: 10px;
  width: 50%;
  height: 30px;
  -webkit-box-shadow: 0 15px 10px #ccc;
  -moz-box-shadow: 0 15px 10px #ccc;
  box-shadow: 0 15px 10px #ccc;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.archive_grid::after {
	right: 10px;
	left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.archive_img_center{
	display: table-cell;
	height: 150px;
	width: 100px;
	text-align: center; /*左右中央*/
	vertical-align: middle; /*上下中央*/
}
.archive_entry_img{
	width:auto;
	height:auto;
	max-width:100px;
	max-height:150px;
}

.archive_colm1{
	float:left;
	margin: 5px;
	vertical-align:center;
}
.archive_colm2{
	position: relative;
	height : 150px;
	margin-left: 125px;
	margin-right: 10px;
	/*top : 10px;*/
	bottom : 5px;
	color: #333;
}
.archive_colm3{
	position: absolute;
	width: 50%;
	height: 50%;
	bottom: 0px;
}
.archive_colm_fotter{
	width: calc( 100% - 10px );
	height: 0px;
	clear: both;
	/*border-bottom:2px dashed #d7f9b0;*/
	margin: 0 5px;
}
.archive_colm_header{
	width: calc( 100% - 10px );
	height: 0px;
	clear: both;
	/*border-bottom:2px dashed #d7f9b0;*/
	border-bottom: 1px solid #d0d0d0;
	-webkit-box-shadow: 0 1px 0 #fcfcfc;
	-moz-box-shadow: 0 1px 0 #fcfcfc;
	box-shadow: 0 1px 0 #fcfcfc;
	margin: 0 5px;
}

.archive_title{
	position: absolute;
	width: 100%;
	font-size: 18px;
	text-align: left;
	top :40px;
}
.archive_title p{
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.archive_explanation{
	position: absolute;
	width: 100%;
	word-wrap: break-word; 
	top : 50px;
}
.archive_explanation p{
	white-space: nowrap;
	width: 95%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/*予約ボタン*/
a.archive_reser{
	position: absolute;
	bottom: 8px;
	right: 10px;
	display:inline-block;
	padding:0 32px 0 10px;
	color:#fff;
	text-decoration:none;
	height:32px;
	line-height:32px;
	font-size: 16px;
	border-radius:12px;
	background:#09aa04;
}
a.archive_reser:hover,
a.archive_reser:link,
a.archive_reser:visited{
	color:#fff;
}

a.archive_reser:before,
a.archive_reser:after{
	content:"";
	display:block;
	position:absolute;
}
a.archive_reser:before{
	width:20px;
	height:20px;
	background:#fff;
	border-radius:50%;
	right:4px;
	top:5px;
}
a.archive_reser:after{
	width:8px;
	height:8px;
	border-right:2px solid #62A1CB;
	border-top:2px solid #62A1CB;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	right:10px;
	top:10px;
}

/* リボン */
.rectangle {
    position:absolute;
    right:-20px; top:15px;
    width:100px; height:20px;
    margin:0;
		padding:1px 10px;
    background:#ff8811;
    z-index:100; /* the stack order:foreground */
    -moz-box-shadow:0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow:0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.55);
		font-size:14px;
    color:#fff;
    text-shadow:1px 1px 2px rgba(0,0,0,0.4);
    text-align:center;
}
.triangle-r {
    border-color:transparent transparent transparent #7d90a3;
    border-style:solid;
    border-width:10px;
    width:0;
		height:0;
    position:absolute;
    right:-30px;
    top:25px;
    z-index:1; /* displayed under bubble */
}

/*在庫*/
.archive_stock{
	position: absolute;
	width: 100%;
	bottom: 10px;
	right: 115px;
}
.archive_stock div{
	margin: auto;
	vertical-align: center;
	text-align: right;
	color: red;
	font-weight: bold;
}
.archive_genre{
	position: absolute;
	width: 100%;
	bottom: 10px;
	right: 115px;
}
.archive_stock div{
	text-align: right;
}
